.nogames {
    text-align: center;

    h5 {
        font-weight: bold;
    }
}

@media only screen and (min-width: 1200px) {
    #btn{
        margin-top: -3%;
    }
}

@media only screen and (min-width: 1200px) {
    #footer{
        margin-top: 1%;
    }

    #play{
        padding-top:1%;
        padding-left: 1%;
        padding-bottom:1%;
    }

    #waiting{
                margin-top: -2%;
                margin-right: 1%;
                text-transform: uppercase;
                float: right;
    }
}

@media (max-width:578.95px){
    #btn{
        margin-top: -3%;
    }

    #play{
        padding-top:4%;
        padding-bottom: 2%;
        padding-left: 1%;
    }

    #waiting{
     
        margin-top: -7%;
        margin-right: 3%;
        padding-bottom: 2%;
        text-transform: uppercase;
        float: right;
}
}